{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
body{
    margin: 0;
    padding: 0;
    font-family:century gothic;
    color:white;
    background-image:linear-gradient(#B81D22,grey,black);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-size: cover
  }
.abc{
  margin: 100px 100px 250px 100px;
}

.hov:hover{
  background-color: #B81D22;
}
a:hover{
  color:white !important;
}
</style>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><img style="height: 50px;" src="{% static 'images/logo2.png' %}" alt="" /></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="hov"><a href="/">Home</a></li>
      <li class="hov"><a href="{% url 'newproducts' %}">New Products</a></li>
      <li class="hov"><a href="{% url 'specialoffer' %}">Special Offer</a></li>
      <li class="active"><a style="background-color: #B81D22 !important; color:white;" href="{% url 'myaccount' %}">My Account</a></li>
      <li class="hov"><a href="{% url 'cartitems' %}">Shopping Cart</a></li>
      <li class="hov"><a href="{% url 'location' %}">Location</a></li>
      <li class="hov"><a href="{% url 'news' %}">News</a></li>
      <li class="hov"><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="abc container">
	<center><h2>Account Detail</h2></center>
	<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<table class="table table-bordered">
		<tr>
			<th class="col-md-6">First Name:</th>
			<td class="col-md-6">{{first_name}}</td>
		</tr>
		<tr>
			<th class="col-md-6">Last Name:</th>
			<td class="col-md-6">{{last_name}}</td>
		</tr>
		<tr>
			<th class="col-md-6">Email:</th>
			<td class="col-md-6">{{email}}</td>
		</tr>
		<tr>
			<th class="col-md-6">Username</th>
			<td class="col-md-6">{{username}}</td>
		</tr>
	</table>
	</div>
	<div class="col-md-3"></div>
	</div>
</div>
</body>
</html>
